OWNER_NAME="💀Shamith💀"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "MASTER-MD"
IMAGE_MENU= "https://telegra.ph/file/479b0423f97190a279200.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "Shamith Eduwara"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
